// Raw Colors
$red: #f30;
$orange: #f90;
$yellow: #fb0;
$green: #0a6;
$blue: #08d;
$purple: #a0d;

$grey_lightest: #f8f8f8;
$grey_lighter: #f0f0f0;
$grey_light: #eee;
$grey: #999;
$grey_dark: #666;
$grey_darker: #444;
$grey_darkest: #333;

$white: #fff;
$black: #000;

// Semantic Colors
$extremeObese: $red;
$obese: $orange;
$overweight: $yellow;
$healthy: $green;
