<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>America's Obesity Epidemic</title>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|BenchNine:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div class="container">
		
		<div class="row">
			<div class="header">
				<div class='header-text'>
					<h1><span class='america-label'>America's</span><br />Obesity Epidemic</h1>
					<div class='team-members'>Kevin Buhrer, Jonny Moon, Thomas Musser</div>
				</div>
			</div>
		</div>



		<div class="row">
			<div class="col-md-12">
				<div class='big-quote'>
					"Obesity has reached epidemic proportions globally"
					<div class='source'>- World Health Organization (WHO)</div>
				</div>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				
			</div>
		</div>


		<!-- Top 4 Visualizations -->
		<div class="row">
			<div class="col-md-6">
				<div id="average-american-shape" class="placeholder">#average-american-shape</div>
			</div>
			<div class="col-md-6">
				<div id="people-icon-viz" class="placeholder">#people-icon-viz</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div id="overweight-percentage-viz" class="placeholder">#overweight-percentage-viz</div>
			</div>
			<div class="col-md-6">
				<div id="health-spending-viz" class="placeholder">#health-spending-viz</div>
			</div>
		</div>

		<!-- Obesity By State Section -->
		<div class="row">
			<div class="col-md-12">
				<h2>Obesity By State</h2>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="help-box">
					<div class="title">Not Worse, Not Better</div>
					<div class="description">Obesity really started to climb starting in the 1980s. Ever since 2010, rates have stabilized, but they are at extremely high levels. </div>
					<a href='#' onclick='demo("notBetter", this); return false;'>Show me &raquo;</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="help-box">
					<div class="title">Where is obesity the worse?</div>
					<div class="description">The Southeast has continually had the highest levels of obesity.</div>
					<a href='#' onclick='demo("whereIsWorse", this); return false;'>Show me &raquo;</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="help-box">
					<div class="title">What states are improving?</div>
					<div class="description">Since 2010, some States have made improvement towards fighting obesity.</div>
					<a href='#' onclick='demo("whereIsWorse", this); return false;'>Show me &raquo;</a>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="placeholder" style="height:800px;">
					choropleth
				</div>
			</div>
		</div>

		<!-- State Trends -->
		<div class="row">
			<div class="col-md-12">
				<h2>State Trends</h2>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="placeholder" style="height:600px;">
					Sunburst
				</div>
			</div>
		</div>



		<!-- Obesity Factors -->
		<div class="row">
			<div class="col-md-12">
				<h2>Obesity Factors</h2>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="help-box">
					<div class="title">States that sit more, weigh more.</div>
					<div class="description">States with high levels of sedentary living have the highest rates of obesity.</div>
					<a href='#' onclick='demo("notBetter", this); return false;'>Show me &raquo;</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="help-box">
					<div class="title">Fast food, anyone?</div>
					<div class="description">States where fast food was consumed the highest led to higher rates.</div>
					<a href='#' onclick='demo("whereIsWorse", this); return false;'>Show me &raquo;</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="help-box">
					<div class="title">Less money = More Weight</div>
					<div class="description">States with lower incomes have higher rates of obesity. </div>
					<a href='#' onclick='demo("whereIsWorse", this); return false;'>Show me &raquo;</a>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="col-md-8" id = "cartoGram">
					Obesity Factors Cartoid/Scatter


				</div>
				<div id = "cartoMenu" class="col-md-4">
				</div>
			</div>
			<br>
			<br>
			<br>
		</div>




		<!-- Individual Health -->
		<div class="row">
			<div class="col-md-12">
				<h2>Individual Health</h2>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="help-box">
					<div class="title">The larger American</div>
					<div class="description">From 1980 to 2010 the average American has increased 15lbs. This has increased health risks. </div>
					<a href='#' onclick='demo("notBetter", this); return false;'>Show me &raquo;</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="help-box">
					<div class="title">Every pound counts</div>
					<div class="description">Even just losing a few pounds can have significant benefits.</div>
					<a href='#' onclick='demo("whereIsWorse", this); return false;'>Show me &raquo;</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="help-box">
					<div class="title">Where you at?</div>
					<div class="description">Enter your own age, height and weight to see how you personally measure up against obesity.</div>
					<a href='#' onclick='demo("whereIsWorse", this); return false;'>Show me &raquo;</a>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="placeholder" style="height:600px;">
					Calculator

					<div id="heightSlider" style='position:absolute; top:10px; left:20px;'></div>

					<div id="weightSlider" style='position:absolute; bottom:10px; left:80px;'></div>
					<div class="calculator-weight-label" style='position:absolute; bottom:45px; left:580px;'><span id="weight-label">0</span>lbs</div>
					<div class="calculator-height-label"><span id="height-label-feet">0</span>' <span id="height-label-inches">0</span>"</div>
				</div>
			</div>
		</div>


		<!-- What can you do? -->
		<div class="row">
			<div class="col-md-12">
				<h2>What can you do?</h2>
				
				<div class='big-quote' style="float:left;">
					"Physical fitness is not only one of the most important keys to a healthy body, it is the basis of dynamic and creative intellectual activity"
					<div class='source'>- John F. Kennedy</div>
				</div>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="help-box">
					<div class="title">To eat or not to eat?</div>
					<div class="description">One of the best ways to lose weight is to eat less. For example, you could eat a Snickers, but would you eat it if you knew you had to run 2 miles to burn it off?</div>
					<a href='#' onclick='demo("notBetter", this); return false;'>Show me &raquo;</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="help-box">
					<div class="title">Thirsty?</div>
					<div class="description">Just changing your a daily soda to a glass water can make a difference in the amount of exercise required.</div>
					<a href='#' onclick='demo("whereIsWorse", this); return false;'>Show me &raquo;</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="help-box">
					<div class="title">Is it worth it?</div>
					<div class="description">Select a snack and see if it is worth the exercise to burn it off.</div>
					<a href='#' onclick='demo("whereIsWorse", this); return false;'>Show me &raquo;</a>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="placeholder" style="height:600px;">
					Snack Viz
				</div>
			</div>
		</div>


		<!-- Conclusion -->
		<div class="row">
			<div class="col-md-12">
				<h2>Conclusion</h2>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>


		<!-- Footer -->
		<div class="row">
			<div class="col-md-12">
				
			</div>
		</div>



	</div><!-- End of Main Container -->


	<script type="text/template" class="js-template" id='tooltip'>
		<div class='inner-tooltip'>
			<div class='title'><%= d.country %></div>
			<div class='value'><%= utils.titleCase(mapProp) %>: <%= get(d3.format(mapFormatting[mapProp]),'N/A')(d[mapProp]) %></div>
		</div>
	</script>


	<!-- Load JS libraries -->
	<script src="js/jquery.min.js"></script>
	<script src="js/queue.min.js"></script>
	<script src="js/d3.min.js"></script>
	<script src="js/d3.tip.js"></script><script src="js/d3-dropdownmenu.js"></script>
	<script src="js/colorbrewer.js"></script>
	<script src="js/lodash.min.js"></script>
	<script src="js/utils.js"></script>

	<!-- Visualizations -->
	<script src="js/cartogram.js"></script>
	<script src="js/main.js"></script>
	<script src="js/calculator.js"></script>
</body>
</html>